
<ion-view view-title="'About Calorific'">

  <ion-content>
    <!--Link to image from remote image addres-->
    <div class="item item-body">
    <img class="full-image" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Information_green.svg/256px-Information_green.svg.png">
    </div>

    <div>
      <h3 class="textheader paddingt">About this app</h3>
      <p class="textsection">This is app designed as part of a college project for Mobile Programming. The idea of the app is to count calories of particular food types so that the user can total the number of calories that they count in one day. </p>
    </div>

  </ion-content>


</ion-view>
