
<ion-view view-title="'Breakfast'">

  <ion-content ng-app="calorific">

    <div class="list card">

  <div >
    <h1 style="color:white; text-align:center; background-color:green;">Breakfast</h1>

  </div>

  <div class="item item-body">
    <img class="full-image" src="img/breakfast.jpg">

  </div>
  </div>

  <div class=“card”>


    <center><h2>Total Calories
         <div id="totCal">
           0
         </div>
         </h2></center>

         <center><a class="button button-small button-balanced" style="margin-bottom:10px;" onclick="reset()">Clear Calories</a></center>

         <div class="item item-divider item-balanced">
        Cereal (per 40g)
      </div>

                <a class="item item item-avatar-right"  onclick="addCal('+124')" >
                  <img src="img/cornflake.jpg">
               <p>Cornflakes - 124kcal per 40g</p>
               <p>Fat 3g | Carbs 3.4g | Sugar 10g</p>
             </a>

               <a class="item item item-avatar-right"  onclick="addCal('+110')" >
                 <img src="img/muesli.jpg">
               <p>Muesli - 110kcal per 40g</p>
               <p>Fat 1g | Carbs 2.4g | Sugar 5g</p>
               </a>

        <div>

          <div class="item item-divider item-balanced">
         Drinks (per 250ml)
       </div>

                 <a class="item item item-avatar-right"  onclick="addCal('+60')" >
                   <img src="img/coffee.jpg">
                <p>Coffee - 60kcal per 250ml</p>
                <p>Fat 4g | Carbs 1.4g | Sugar 8g</p>
              </a>

                <a class="item item item-avatar-right"  onclick="addCal('+80')" >
                  <img src="img/milk.jpg">
                <p>Glass Milk - 80kcal per 250ml</p>
                <p>Fat 3g | Carbs 1.4g | Sugar 0g</p>
                </a>

                <div class="item item-divider item-balanced">
                Other
                </div>

                <a class="item item item-avatar-right"  onclick="addCal('+120')" >
                  <img src="img/croissant.jpg">
                  <p>Croissant - 120kcal g</p>
                  <p>Fat 3g | Carbs 2.4g | Sugar 4g</p>
                  </a>
                <a class="item item item-avatar-right"  onclick="addCal('+560')" >
                  <img src="img/fry.jpg">
                  <p>Irish Breakfast - 560kcal</p>
                  <p>Fat 40g | Carbs 15.4g | Sugar 10g</p>
                  </a>



         <div style="padding-bottom:20px;">
         </div>


  </ion-content>






</ion-view>
