
<ion-view view-title="'Breakfast'">

  <ion-content>

    <div class="list card">

  <div >
    <h1 style="color:white; text-align:center; background-color:green;">Breakfast</h1>

  </div>

  <div class="item item-body">
    <img class="full-image" src="img/home.jpg">
    <p>

    </p>

  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#/app/home">
      <i class="icon ion-home"></i>
      Home
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-info"></i>
      Share
    </a>
  </div>

</div>

  </ion-content>


     <ion-tabs class="tabs-icon-top tabs-balanced">

       <ion-tab title="Home" icon="ion-home" href="#/app/home">
         <ion-nav-view name="home-tab"></ion-nav-view>
       </ion-tab>

       <ion-tab title="About" icon="ion-ios-information" href="#/app/breakfast">
         <ion-nav-view name="about-tab"></ion-nav-view>
       </ion-tab>

       <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
         <ion-nav-view name="contact-tab"></ion-nav-view>
       </ion-tab>
       </ion-tabs>



</ion-view>
