<!--Home page and text at top of the page -->
<ion-view view-title="CALORIES">
  <!-- Link to the calorific app.js function -->
  <ion-content ng-app="calorific">
    <!-- Card class -->
    <div class="list card">

    <div ><!-- inline stying -->
    <h1 style="color:white; text-align:center; background-color:#33CD5F;">Calorific</h1>

    </div>

    <div class="item item-body"><!-- main image -->
    <img class="full-image" src="img/home.jpg">

  </div><!-- Some Intro text -->
    <h2 style="margin-top:10px;" class="textheader">Daily Calorie Counter</h2>
    </div>
    <div style="padding-bottom:100px;">
</div>
  </ion-content>


</ion-view>
