/* All my lovely Css. Ended up altering
the original CSS through the DOM in
Chrome so my Css is altered in the ionic CSS file
This is just an example of external child css. */
.textheader
{
  padding:5px;
  color:#33CD5F;
  text-align:center;
}

.mainheader
{
  color:white;
  font-weight:bold;
  background-color:#33CD5F;
  border-bottom-style:groove;
  border-bottom-width:5px;
  border-top-style:groove;
  border-top-width:5px;
}

.textsection
{
  font-weight:bold;
  color:#33CD5F;
  border-style:
  padding:10px;
  margin:10px;
  border-radius:10px;

  text-align:justify;
  }

  .paddingt
  {
    padding-top:10px;
  }
